.wrapper {
  width: 24rem;
  margin-inline: auto;
}

.input {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  background-color: var(--zinc-700);
  margin-inline: auto;
  border-radius: .5rem;
  padding-inline: 1rem;
  gap: .5rem;
}

input {
  background: transparent;
  border: none;
  outline: none;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--gray-400);
}


p {
  color: var(--gray-400);
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.125rem;
}
