.home-wrapper {
  font-family: 'Poppins', sans-serif;
  margin-inline: 7.6875rem;
}

.cards-display {
  margin-top: 5.375rem;
  display: flex;
  gap: 2rem;
}

.transactions{
  margin-top: 3.875rem;
}

.new-transaction button {
  background-color: transparent;
  color: var(--green-700);
  font-size: 1rem;
  line-height: 1.5rem;
  transition: 300ms;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.new-transaction button:hover {
  filter: brightness(1.3);
}
