.home-wrapper {
  font-family: 'Poppins', sans-serif;
  margin-inline: auto;
  max-width: 1000px;
}

.cards-display {
  margin-top: 5.375rem;
  display: flex;
  gap: 2rem; 
  justify-content: space-between;
  max-width: 1000px;
}

.transactions{
  margin-top: 3.875rem;
  max-width: 1000px;
}

.new-transaction button {
  background-color: transparent;
  color: var(--green-700);
  font-size: 1rem;
  line-height: 1.5rem;
  transition: 300ms;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.new-transaction button:hover {
  filter: brightness(1.3);
}
