:root {
  --gray-200: #E5E7EB;
  --gray-400: #9CA3AF;
  --gray-300: #D1D5DB;

  --zinc-700: #3F3F46;

  --stale-800: #1E293B;

  --green-700: #15803D;

  --red-600: #DC2626;

  --bg-gradient: background: linear-gradient(180deg, #292524 15.53%, rgba(41, 37, 36, 0.35) 94.63%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #121214;
  font-family: 'Roboto', sans-serif;
  background: #121214;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}



body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #121214;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #3F3F46;    /* color of the scroll thumb */
  border-radius: 4px;       /* roundness of the scroll thumb */
  border: 3px solid #3F3F46;  /* creates padding around scroll thumb */
}